<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="">
                <img alt="WIT" src="" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav mr-auto">
                
                <li class="dropdown" dropdown>
                    <a [routerLink]="" dropdownToggle (click)="false" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li role="menuitem">
                            <a [routerLink]="['/home/home']" class="nav-link" href="#">Home</a>
                        </li>
                        <li role="menuitem">
                            <a [routerLink]="['/home/about']" class="nav-link" href="#">About</a>
                        </li>
                        <li role="menuitem">
                            <a [routerLink]="['/home/contact']" class="nav-link" href="#">Contact</a>
                        </li>
                        <li role="separator" class="divider" dropdown-divider></li>
                        <li role="menuitem">
                            <a class="nav-link" target="_blank" href="https://twitter.com/@fuel9"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </li>
                
                <li *ngIf="isAuthenicated" class="dropdown" dropdown>
                    <a [routerLink]="" dropdownToggle (click)="false" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Library <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/library/customers']">Customers</a>
                        </li>                        
                        <li>
                            <a [routerLink]="['/library/product-features']">Product Features</a>
                        </li>
                            
                    </ul>
                </li>

                <li *ngIf="isAuthenicated" class="dropdown" dropdown>
                    <a [routerLink]="" dropdownToggle (click)="false" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Analysis <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/dca']">Observation Sheet</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isAuthenicated"><a [routerLink]="['/home/register']">Register</a></li>
                <li *ngIf="!isAuthenicated"><a [routerLink]="['/home/login']">Login</a></li>
                <li *ngIf="isAuthenicated"><a [routerLink]="['/user/user-profile']">{{firstName}}&nbsp;{{lastName}}&nbsp;</a></li>
                <li *ngIf="isAuthenicated"><a href="#" style="cursor:pointer" (click)="logout()">Logout</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="container">  
    <router-outlet></router-outlet>  
</div>


<div *ngIf="blockUI">
    <div class="in modal-backdrop spinner-overlay"></div>
    <div class="spinner-message-container" aria-live="assertive" aria-atomic="true">       
        <div class="loading-message">
            <img src="{{imagesDirectory}}/loading-spinner-grey.gif" class="rotate90">
            <span>&nbsp;&nbsp;please wait...</span>
        </div>

    </div>
</div>


